extends layout

block content
  h1= title
  - let dogs = results;

  div(class="container-fluid")
      each dog in dogs
        - let destination = `dispatch("/dogs/update?id=${dog._id}")`
        div(class="col-sm-2")
          p dogsdogs_type: #{dog.dogs_type}
          p dogssize: $#{dog.size}
          p dogscost: #{dog.cost} 
        button.btn.btn-sm.btn-primary.ml-1(onclick= destination) Update
        br 
        br

  script.
    function dispatch(path) {
      window.location.href = path;
    }